$border-radius_default: 8px;
$transition: all 1s ease;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

body {
	margin: 5px 20px !important;
}

.ui.card {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 250px;
	min-height: 0px;
	width: 196px !important;
	background: #FFFFFF;
	padding: 0em;
	border: 1px solid #f6f6f6 !important;
	border-radius: $border-radius_default;
	z-index: '';
	border: none;
	margin: 1em 0em;
	// box-shadow: none !important;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px !important;
	overflow: hidden;
	transition: $transition !important;
	a {
		cursor: pointer;
	}
	&:hover {
		box-shadow: $box-shadow !important;
		transform: none !important;
	}
	&:last-child {
		margin-bottom: none;
	}
	.image {
		height: 200px;
		overflow: hidden;
		max-height: 200px;
		object-position: 50% 50%;
		object-position: 0 0;
		background-color: #ffffff !important;
		img {
			width: auto; 
			height: 100%;
			
		}
	}
	.content {
		.description {
			margin-top: .25em;
			font-size: .7125em;
		}
		.artist {
			height: 20px;
			font-size: 1em;
			margin: 0.25em 0 .5em 0;
			color: gray;
		}
		.header {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}	
}

.custom_details {
	.card {
		width: 98vw !important;
		max-width: fit-content;
		box-shadow: none;
		max-height: none;
		pointer-events: none;
		border: none !important;
		.image {
			width: 96vw;
			height: 96vh;
			max-height: none;
			text-align: left;
			box-shadow: $box-shadow;

			img {
				width: 100% !important;
				height: 100% !important; 
				object-fit: contain !important;
				// border: 5px solid brown !important;
			}
		}
		.content {
			display: none;
		}	
	}
}

.custom_grid {
	.card {
		box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px !important;
		.image {
			max-height: 200px;
			overflow: hidden;
			img {
				width: 100% !important;
				height: 100% !important; 
				object-fit: cover !important;
			}
		}
	}
}
